<!DOCTYPE html>
<html>
<head>
  
  <link rel='stylesheet' href="style.css">
  <body>


  <div class="container">
    <div class = "centered">
    <header class="text-center text-white">
    <title> Sentiment Analysis Web App </title>

<h1 class = 'header'>
  Sentiment Analysis App
</h1>

<p class = 'desc'>
  Type a sentence (in english). After that, click on the submit button and wait for the prediction.
</p>

<form method="POST" onSubmit = 'return validate();' class='form' >
    <input name="text">
    <input type="submit" onclick = 'this.form.submit();'>
</form>

<br>
<br>

<p id='demo'>{{ variable }} </p> 

</header>
</div>
</div>

</body>
